/* Base styles */

body {
  background:grey;
  color:white;
  font-family: 'Merienda One', cursive;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .025rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: .5;
  border: none;
  border-top: 1px solid gray;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.row {
  display: flex;
  -webkit-display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  flex-grow: 1;
  padding: 1rem;
}

.banner {
  min-height: 20vh;
  padding: 5rem 1rem;
  background-image: url('../someone-holding-green-plant-against-gray-background-3696666.jpg');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  text-align: center;
}

.banner-text {
  display: inline-block;
  margin: auto;
  padding: 3rem;
  width: auto;
  text-align: center;
  background: #ff8080;
  color: white;
  border: 10px solid #5d5d5d;
  font-size: 3.5rem;
  max-width: 250px;
}

.profile-img {
  max-height: 50vh;
  width: auto;
  border-radius: 50%;
}

.favorite-food {
  background: #ffdb58;
  padding: 2rem;
  color: grey;
}

.favorite-season {
  background: #ffdb58;
  padding: 2rem;
  color: grey;
}

.favorite-color {
  background: #ffdb58;
  padding: 2rem;
  color: grey;
}

.Random-things {
  background: #ffdb58;
  padding: 2rem;
  color: grey;
}

.footer {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.btn-1 {
  background: #72bcd4;
  color: #262626;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: .25rem;
  font-size: .9rem;
  border: 1px solid white;
  transition: border .3s ease;
}

.btn-1:hover {
  border: 15px solid #a9a9a9;
}
